body, html {
     margin-top: 1%;
 	margin-bottom: 1%;
 	margin-left: 12%;
 	margin-right: 12%;
    padding: 0;
    height: 100%;
    background-color: black;
    color: white;
  }
  
  
  .centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .bigText {
    font-family: 'HeadFont';
    font-size: 10em;
    cursor: pointer;
  }
  
  .GText {
    font-family: 'HeadFont';
    font-size: 30em;
    cursor: pointer;
  }


#loreContent {
color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 1.2em;
padding: 20px;
}

@font-face {
  font-family: 'HeadFont';
  src: url('fonts/headfont.ttf');
}

p {
  font-family: 'Times New Roman', Times, serif;
}

  
h1 {
    font-family: 'HeadFont';
    font-size: 5em;
}

h2 {
    font-family: 'HeadFont';
    font-size: 3em;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
    font-family: 'Roboto';
    font-size: 1.2em;
  }
  

/* Navigation styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

nav ul li {
    margin: 15px;
}

nav a {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* Remove color change on click */
nav a:visited {
    color: white;
}
  
